package pages

import (
	"github.com/hyperremix/todo-app-htmx/components/partials"
	"github.com/hyperremix/todo-app-htmx/model"
)

templ TodosBase(todos []model.Todo) {
	<html lang="en">
		@partials.Head()
		<body class="bg-gray-900 text-white">
			@partials.AppBar()
			@partials.TodosPartial(todos)
		</body>
	</html>
}
