package pages

import (
	"github.com/hyperremix/todo-app-htmx/components/partials"
	"github.com/hyperremix/todo-app-htmx/model"
)

templ TodoBase(todo model.Todo) {
	<html lang="en">
		@partials.Head()
		<body class="bg-gray-900 text-white">
			@partials.AppBar()
			<div id="main-container" class="max-w-md h-full max-h-[calc(100%-72px)] mx-auto pt-5 px-2">
				@partials.TodoPartial(todo)
			</div>
		</body>
	</html>
}
