package partials

templ AppBar() {
	<div class="flex fixed h-16 top-0 w-full flex-row items-center z-30 bg-gray-800 shadow-md pl-4">
		<a href="/" class="flex flex-row items-center">
			<svg class="w-8 text-white">
				<use href="/assets/icons/check.svg#img"></use>
			</svg>
			<h1 class="text-2xl font-sans mx-4">Todo App HTMX</h1>
		</a>
	</div>
	<div class="h-16"></div>
}
