package partials

import "github.com/hyperremix/todo-app-htmx/components/icons"

templ AppBar() {
	<div class="flex fixed h-16 top-0 w-full flex-row items-center z-30 bg-zinc-50 dark:bg-zinc-900 shadow-md pl-4">
		<a href="/" class="flex flex-row items-center text-2xl gap-4">
			@icons.Check()
			<h1>Todo App HTMX</h1>
		</a>
	</div>
	<div class="h-16"></div>
}
