package partials

templ Head() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" href="/assets/icons/favicon.ico"/>
		<link href="/assets/styles/main.css" rel="stylesheet"/>
		<script src="https://unpkg.com/htmx.org@1.9.2"></script>
		<script src="/assets/app/index.js"></script>
		<title>Todo App HTMX</title>
	</head>
}
