package corecomponents

type IconButtonProps struct {
	Icon       templ.Component
	Variant    string
	Attributes templ.Attributes
}

templ IconButton(props IconButtonProps) {
	<button class={ append([]string{"font-bold", "p-2", "rounded-full", "inline-flex"}, variantClassesMap[props.Variant]...) } type="submit" { props.Attributes... }>
		@props.Icon
	</button>
}
